/* bootstrap styles */

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

body {
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #33aeff);
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

/* custom styles */

/* login */
#auth-failed {
  display: none;
}

#auth-error {
  display: none;
}

/* game */
.title {
  text-align: center;
}

.title h1 {
  color: white;
}

#progress {
  width: 50%;
  margin-left: 25%;
  display: none;
}

#text,
#busy,
#time,
#disconnected {
  display: none;
}

.text__container {
  padding-left: 15%;
  padding-right: 15%;
  font-size: 2em;
}

#game-text span {
  padding: 0;
  margin: 0;
}

#entered-text {
  text-decoration: underline;
}

#current-text {
  font-weight: bold;
  color: darkgreen;
}

.text .card-body {
  text-align: center;
}

.card {
  margin-top: 25px;
}

.race {
  text-align: center;
}

.race .badge {
  font-size: 100%;
}

.time {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background-color: white;

  padding: 0.5em;
  text-align: center;
}

.time p {
  margin-bottom: 5px;
}

.time .badge {
  font-size: 100%;
}

.progress__display {
  display: flex;
  align-items: center;
}

.progress__player {
  flex-grow: 0;
  margin-right: 10px;
}

.progress {
  flex-grow: 1;
}
